/* :root {
    --primary: #ff0185;
    --secondary: #091126;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    display: flex;
    justify-content: center;
  
    align-items: center;
  } */
  
  .contact {
   align-content: center;
   justify-content: space-between;
    /* overflow: hidden; */
    display: flex;
    margin: 80px auto;
    max-width: 90%;

  }

  .contact-col{
    flex-basis: 48%;
    color: #676767;
  }
  
  .contact-col h3{
    color: #000F38;
    font-weight: 500;
    font-size: 25px;

  }

  .contact-col-p{
    max-width: 450px;
    list-style: 0.3;
  }

  .contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .contact-col ul li img{
    width: 25px;
    margin-right: 10px;
  }

  .contact form input,.contact form textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
  }

  .footer {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px; /* Padding around content */
    text-align: center; /* Center align text */
    margin-top: 30px;
  }

  .contact-col span{
    display: block;
    margin: 20px 0;
  }
  
  