nav{
    width: 100%;
    /* background: #333; */
    color: #110e0e;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 120px;
    background: transparent;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
} 
.dark-nav{
    background: #1cb02d;
    transition: 0.5s;
}


@media (max-width:1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
.menu-icon{
    display: none;
}
@media (max-width:840px){
    nav{
        padding: 15px 0;

    }
    
   
}